:root{
    --primary-color: red;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    background:black;
    color:grey;
}

ul{
    list-style:none;
}

h1, h2,h3,h4{
    color:white;
}
a {
    color:white;
    text-decoration: none;
}
p{
    margin: 0.5rem 0;
}
img{
    width:9%;
}
.showcase{
    width:100%;
    height:93vh;
    position:relative;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(netflix3.png);
    background-size: cover;
 
}
.showcase::after{
  content:'';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1;

  
}
.showcase.top{
    position:relative;
    height:90px;
    z-index:2;
}
.showcase-top img{
    position:absolute;
    top:4%;
    left:4%;
    
   
}
.showcase-top a{
    position:absolute;
    top:4%;
    right:0;
    transform:translate(-50%, -50%);

}
.showcase-content{
    position:relative;
    margin:0 26%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    top:15rem;
    z-index: 2;
}
.showcase-content h1{
    font-weight:700;
    font-size: 3.2rem;
    line-height:1.1;
    margin: 0 0 2rem;
    max-width:800px;

}
.showcase-content h3{
    color: white;
    font-size:25px;
    margin:16px 0;
    font-weight:300;
}
.showcase-content p{
    font-size:19.2px;
    font-weight:300;
    padding-top:0.5rem; 
    padding-bottom:1rem;
color: white;
    font-weight:450;
}
.showcase-content input{
  position:absolute;
  left: 0;
  bottom:-8vh;
  width:454px;
  height:3rem;
  font-size:1rem;
  padding-left:0.5rem;
}

.btn{
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: 0.5rem 1.3rem;
    font-size:1rem;
    font-weight:100%;
    text-align:center;
    border:none;
    cursor:pointer;
    margin-right:0.5rem;
    outline:none;
    box-shadow:0 5px 3px rgba(0, 0, 0, 0.45);
    border-radius:2px;
}
.btn:hover{
    opacity:0.9;

}
 
.showcase-content .btn{
  font-weight:400px;
}
.showcase-content .btn-round{
  background-color: #dc030f;
  border: 1px solid #dc030f;
  color: white;
  padding: 1.4rem 1.0rem;
  font-size: 15px;
  letter-spacing: 1px;
  position:absolute;
  right: 0;
  bottom:-8vh;
  min-height:62px;
  height:9%;
  width: 33%;
  
}

.mail{
  width:100%;
  min-height:23%;
}
 .btn-round{

    background-color: #dc030f;
    border: 1px solid #dc030f;
    color: white;
    padding: 0.9rem 1.3rem;
    border-radius: 2px;
    font-size: 15px;
    letter-spacing: 1px;

} 
    

  .feature ,
  .feature-1,
  .feature-2,
  .feature-3{
    border-top: 8px rgb(69, 69, 69) solid;
    padding: 50px;
  }
 .feature{
    position: relative;
     display: inline-grid;
     grid-template-columns: 40% 50%;
     text-align:left;
     align-items:center;
     padding: 25px 45px 50px;
 }
 .feature img{
  height:auto;
  width:auto;
 }
 .feature-sub{
    padding-left:100px;
    font-size:1.5rem;
    
 }
.feature-sub h2{
  font-size:3rem;
  padding:1rem;
  padding-left: 0;
 
}
 
.feature-sub p{
  font-size: 1.5rem;
  line-height: 2.0rem;
  color:white;
  margin: 0.75em 0 0.25em;
}


 .feature-1{
    padding:relative;
    display: inline-grid;
    grid-template-columns:50% 40%;
    text-align: left;
    align-items: center;
    padding: 15px 30px 40px;
 }
 .feature-sub1{
    padding-left:80px;
    font-size:1.8rem;
 }


.feature-1 img{
    grid-row: 1/2;
    width: 80%;
    height: auto;
   
}
 .feature-sub1 h2{
  font-size:3rem;
    padding:1rem;
    padding-left: 0;
    
    
 }
 .feature-sub1 p{
    font-size: 1.5rem;
    line-height: 2.0rem;
    color:white;
 }
 .netflix-sub{
  position: absolute;
  bottom: -115%;
  left: 21%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 20em;
  display: flex;
  align-items: center;
  background-color: black;
  border: 2.0px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  height: 90px;
  padding: 0.25rem 0.65rem;
  gap: 15px;
  margin:0 auto;
 }

 .netflix-subs{
  width:50px;
  height:3em;

 
}
.netflix-subs img{
  width: 70%;
  height: auto;
  border:0;
  letter-spacing:0!important;
 
  
}
.netflix-sub1{
  width: 60%;
}
.netflix-sub1 h3{
  font-size: 20px;
  font-weight: 500;
  padding:1rem;
  display:block;
}
.netflix-sub1 h4{
  font-size: 20px;
  font-weight: 400;
  color: #0071eb;
}
.download-gif {
  width: 100%;
  height: 100%;
}
.poster__details {
  width: 60%;
}
.poster__details > h4 {
  font-size: 13px;
  font-weight: 500;
}
.poster__details > h6 {
  font-size: 12px;
  font-weight: 400;
  color: rgb(63, 63, 246);
}

.download__gif__container {
  width: 20%;
  height: 60%;
}
.gif {
  width: 100%;
  height: 100%;
}





  .feature video{
    position:relative;
    width: 90%;
    height: 70%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -2;
    left:60px;

  }


  .feature img{
    grid-column: 2/2;
    grid-row: 1/2;
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
    border:0;
  }
  .feature-2{
    padding:relative;
    display: inline-grid;
    grid-template-columns:40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;

  }
  .feature-sub2{
    padding-left:80px;
    padding-right: 20px;
    font-size:1.8rem;
  }

  .feature-sub2 h2{
    font-size:3rem;
    padding:1rem;
    padding-left: 0;
   
  }
   
  .feature-sub2 p{
    font-size: 1.5rem;
    line-height: 2.1rem;
    color:white;
  }

.feature-2 video{
    position: relative;
    top: -75px;
    left:85.3px;
    width: 70%;
    height:50%;
    grid-column:2/2;
    grid-row:1/2;
    z-index: -2;

}
.feature-2 img{
    grid-column: 2/2;
    grid-row: 1/2;
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
}


  .feature-3{
    padding:relative;
    display: inline-grid;
    grid-template-columns:40% 50%;
    text-align: right;
    align-items: center;
    padding: 25px 45px 50px;
  }

  .feature-sub3{
    padding-left:80px;
    padding-right: 20px;
    font-size:1.8rem;
  }

  .feature-sub3 h2{
    font-size:3rem;
    padding:1rem;
    padding-left: 0;
   
  }
   
  .feature-sub3 p{
    font-size: 1.5rem;
    line-height: 2.1rem;
    color:white;
  }


  .feature-3 img{
  
    grid-row: 1/2;
    width: 100%;
    height: auto;
   
  }
  


  .FAQ{
    text-align: center;
  }
  .FAQ h1{
   padding-bottom: 40px;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    line-height:1.1;
  }
  
  .questions i{
    margin: 0 30px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    align-items:right;
  }
  
  .quest:focus {
    background-color: red;
  }

  .questions{
    width:80%;
    min-height:75px;
    margin-left:10px;
    margin-right:10px;
  }
  .questions {
    width: 55%;
    min-height: 75px;
    background-color: #303030;
    color: white;
    align-items: center;
    justify-content: space-between;
    display: flex;
    text-align: left;
    flex-direction: row;
    margin: 5px 320px;
  }


  .questions .text{
    font-size:20px;
    margin-left:10px;
    margin-right:10px;
  }
  .questions .text{
    display: flex;
    text-align: left;
  
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    font-size: 25px;
    margin: 0 30px;
    word-spacing: 5px;
    text-align: left;
  }


  .FAQ p{
  padding-top: 150px;
  font-size: 1.2rem;
  font-weight: 200;
  }
  .input{
    display: inline-grid;
    align-items: center;
    grid-template-columns: 50% 40%;
    min-height:23%;
  }
  .FAQ input{
    width: 500px;
    height: 3rem;
    
  }
  .FAQ button{
    height: 2.55rem;
    width:155px;
    left:20px;
    text-align:center;
    background-color:var(--primary-color);
    font-size:15px;
    padding:15px 32px;
    border:none;
    border-radius: 2px;
    color:white;
   position:relative;
  
    
  }



.questions::after{
  content:"";
  width:32px;
  right:10px;
  top:5px;
  position:absolute;
  height:100%;
  transition: all 0.4s;
}
.questions .FAQ-drop .active + .questions::after{
transform:rotateX(180deg);
top:-6px;
}
.FAQ-drop{
  display:flex;
  width:56%;
 flex-direction: column;
 flex-basis: 40%;
  align-items: center;
  opacity:0; 
  max-height:0;
}
.questions .FAQ-drop{
  padding: 20px 30px;
  margin: 3px;
  margin-top:0;
  font-size: 1.6rem;
  background-color: #303030;
  color: white;
  text-align: left;
  width: 56%;
  order:1;
}
.questions .FAQ-drop .active{
  max-height:56%;
  opacity:1;
}

.FAQ-drop p{
  margin: 1rem;
  color:white;
  font-size: 1.5rem;
  font-weight: 500;
}

.footer{
  max-width:70%;
  margin: 1rem auto;
  overflow:auto;
}
.footer,
.footer a{
  color:grey;
  font-size:0.9rem;
}

.footer p{
  margin-bottom: 1.5rem;
}
.footer .footer-cols{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer li{
  line-height:2.4;
}



